$xxl: 1320px;
$xl:1140px;
$lg:992px;
$md:768px;
$sm:576px;

@mixin container() {
    max-width: $xxl;
    width: 100%;
    margin: 0 auto;
    padding: 0 12px;

    @include media($xxl) {
        max-width: $xl;
    }

    @include media($xl) {
        max-width: $lg;
    }

    @include media($lg) {
        max-width: $md;
    }

    @include media($md) {
        max-width: $sm;
    }

    @include media($sm) {
        max-width: 100%;
    }
}

@mixin media($size:$xxl) {
    @media (max-width:$xxl) {
        @content
    }
}